{% extends "edit_option.html" %}
{% load crispy_forms_tags %}

{% block form %}

 <style>.col-form-label{ visibility: hidden; padding: 0;}</style>

 <form action="/your-name/" method="post">
 <table class="table">
 <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
        {% for field in vals.0.1 %}
      <th scope="col">{{ field.label }}{% if field.required %}REQ{% endif %}</th>
        {% endfor %}
    </tr>
  </thead>
 <tbody>
    {% for v, form in vals %}
        <tr>
        <th scope="row">{{ forloop.counter }}
            {% if type == "vector" %}
            {% if not forloop.first %}&nbsp;<i class="fas fa-level-up-alt"></i>{% endif %}{% if not forloop.last %}&nbsp;<i class="fas fa-level-down-alt"></i>{% endif %}
        {% endif %}
        </th>
       {% for field in form %}
      <td>{{ field|as_crispy_field }}</td>
     {% endfor %}
        </tr>

 {% endfor %}
 </tbody>
 </table>
  <div class="form-row">
    <label for="change_message">Change message</label>
    <input type="text" class="form-control" id="change_message" placeholder="Increased timeout due to long-lived connections">
      <small id="changeHelp" class="form-text text-muted">A message describing why the change was made.</small>
  </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
{% block type_doc %}
See Zeek documentation for <a href="https://docs.zeek.org/en/stable/script-reference/types.html#type-{{ type }}" class="alert-link">{{ type }} types</a>.
{% endblock %}