{% extends "edit_option.html" %}
{% load crispy_forms_tags %}

{% block form %}
 <form method="post">
  <div class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <label for="change_message">Change message</label>
    <input type="text" class="form-control" id="change_message" placeholder="Increased timeout due to long-lived connections" name="change_message">
      <small id="changeHelp" class="form-text text-muted">A message describing why the change was made.</small>
  </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
{% block type_doc %}
See Zeek documentation for <a href="https://docs.zeek.org/en/stable/script-reference/types.html#type-{{ type.0 }}" class="alert-link">{{ type.0 }} types</a>.
{% endblock %}