{% extends "base.html" %}
{% load humanize %}
{% block title %}
eZeeKonfigurator: Zeek Config Manager
{% endblock %}
{% block content %}
    <div>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Option</th>
      <th scope="col">Current value</th>
      <th scope="col">Datatype</th>
      <th scope="col">Documentation</th>
      <th scope="col">Sensor</th>
    </tr>
  </thead>
  <tbody>
    {% for i in values %}
        {% if i.value|length < 100 %}
    <tr>
      <th scope="row">{% if i.option.namespace != 'GLOBAL' %}{{ i.option.namespace }}::{% endif %}{{ i.option.name }}</th>
        <td>{{ i.value }}</td>
      <td>{{ i.option.datatype }}</td>
      <td>{{ i.option.docstring }}</td>
      <td>{{ i.option.sensor.hostname }}</td>
    </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}