{% extends "base.html" %}
{% load humanize %}
{% block title %}
eZeeKonfigurator: Zeek Config Manager
{% endblock %}
{% block content %}
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item {% if not sensor and not namespace and not settings %}active{% endif %}"><a href="{% url "list_options" %}" >Options</a></li>
    {% if sensor %}
  <li class="breadcrumb-item {% if not namespace and not settings %}active{% endif %}"><a href="{% url "list_options" id=sensor.id %}">{{ sensor.hostname }}</a></li>
  {% endif %}
  {% if namespace %}
  <li class="breadcrumb-item {% if not settings %}active{% endif %}"><a href="{% url "list_options" namespace=namespace %}">{{ namespace }}</a></li>
  {% endif %}
  </ol>
</nav>

    <div>
    <table class="table table-hover">
  <thead>
    <tr>
        <th></th>
      <th scope="col">Option</th>
      <th scope="col">Current value</th>
        <th scope="col">Sensor</th>
        <th scope="col">Documentation</th>
    </tr>
  </thead>
  <tbody>
    {% for i in settings %}
    <tr>
    <td>
    <a role="button" class="btn btn-light btn-sm" href="{% url 'edit_option' id=i.id %}">
 <span class="fa fa-edit fa-sm" aria-hidden="true"></span>
 </a>
    </td>
        <th scope="row">{% ifchanged i.option.name  %}{% if i.option.namespace %}<a href="{% url 'list_options' namespace=i.option.namespace %}">{{ i.option.namespace }}</a>::{% endif %}
            {{ i.option.name }}&nbsp;({{ i.option.datatype }}){% endifchanged %}
        </th>
        <td>{% ifchanged i.value.web_str %}{{ i.value.web_str|linebreaksbr }}{% endifchanged %}</td>
        <td><a href="{% url 'list_options' id=i.option.sensor.id %}">{{ i.option.sensor.hostname }}</a></td>
      <td>{% ifchanged i.option.docstring %}{{ i.option.docstring|truncatechars:128 }}{% endifchanged %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}