<div class="row d-flex">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky d-flex flex-column">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{ nav_home }}" href="{% url 'home' %}">Sensors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ nav_home }}" href="{% url 'list_options' %}">Options
                    </a>
                </li>
            </ul>


            <div class="mb-auto"></div>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Advanced</span>
                <a class="d-flex align-items-center text-muted" href="#">
                     <span class="fas fa-hammer"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="/{% url 'admin:index' %}">
                        Admin Interface
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>